
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin:0 auto;/* para o site ficar centralizado */
    padding: 0%;/* pra gente configurar nosso pading */
    box-sizing: border-box;
    font-family: 'Opens Sans', sans-serif;/* Fonte do site */
}
body{
    
    background-image: linear-gradient(to top,#cfe7f5,#ffffff);
    background-attachment: fixed;
}

nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}


    nav{
    text-align: center; /* posicionar o menu no meio */
    list-style-type: none;/* posiciona a 70px para baixo */
    padding: 15px;/* Para tirar todo espaçamento */
    background-color: #000000;
}    

ul > li{
    display: inline;/* para ficar um do lado do outro*/
    text-decoration: none;
    
}

li > a {
    color: white;/*Cor da letra */
    padding: 15px;/* distância de cada palavra */
    display: inline-block;
    text-decoration: none;/* tirar a decoração */
    transition: background .4s;
}


li :hover {
    /* background-color: rgb(24,139,233); */
    color:rgb(24,139,233)
    
}

button:hover{
    color:rgb(24,139,233)
}

.logo{
    width: 100px;
    height: 30px;
    background-size: 100px 64px;
    position: absolute;
    left: 50px;
    top: 1px;
	}

#wats-h{
    color: white;
    display: inline-block;
    text-decoration: none;
    transition: background .6s;
    position: absolute; 
	right: 300px; 
	top: 20px; 

}


#telefone-h{
    color: white;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    position: absolute;
    right: 110px ;
    top: 10px;
}

#telefone-h:hover{
    border-bottom: 1px solid white; 

}

body{
    background-image: linear-gradient(to right, #DEDAD7,#CED6DF);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #91817761;
    width: 600px;
    padding: 10px;
    margin: 30px;
}

h1{
    color: #918177;
    text-align: center;
    text-shadow: 1px 1px 2px #443c38ab ;
}

h2{
    color: #918D77;
 }

p{
    text-align: justify;
}

button{
    background:transparent;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

 @media screen and (max-width: 1124px) {
    ul > li{
       display: flex;
       align-items: flex-start;
    }

    

    ul{
        text-align: center;
        margin: 0;

    }

    .logo{
        width: 100px;
        height: 80px;
        background-size: 100px 64px;
        position: absolute;
        left: 50px;
        top: 20px;
        }

        #telefone-h{
            color: white;
            display: inline-block;
            text-decoration: none;
            transition: background .4s;
            position: absolute;
            right: 110px ;
            top: 21px;
        }   

        #wats-h{
            color: white;
            display: inline-block;
            text-decoration: none;
            transition: background .6s;
            position: absolute; 
            right: 300px; 
            top: 29px; 
        
        }

        #telefone-h:hover{
            border-bottom: 1px solid white; 
        
        }     
   
 }

@media screen and (max-width:730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }
}










/* 
 @media screen and (max-width: 839px) {
    #telefone-h{
        display: none;
    }

    #wats-h{
        color: white;
        display: inline-block;
        text-decoration: none;
        transition: background .6s;
        position: absolute; 
        right: 100px; 
        top: 29px; 
    
    }

    #wats-h:hover{
        border-bottom: 1px solid white; 

    }
    
 }

 @media screen and (max-width: 630px) {
    #telefone-h{
        display: none;
    }

    #wats-h{
        color: white;
        display: inline-block;
        text-decoration: none;
        transition: background .6s;
        position: absolute; 
        right: 52px; 
        top: 29px; 
    
    }
     */
  


 