div{
    height: 50px;
    background-color: #ccc;
    border: 1px solid #222;
    padding: 10px;
    transition-timing-function:ease ;
    transition-duration: 2s;
    transition-delay: 1s;

}

.relative{
    background-color: #321
    ;
    position: relative;
    color: #fff;
}

.absolute{
    height: 20px;
    width: 70px;
    background-color: #914 ;
    position: absolute;
    top: 20px;
    right: 20px;
}


html{
    padding-bottom: 1000px;
}
.fixed{
    width: 50px;
    height: 50px;
    background-color: #128;
    position: fixed;
    top: 10px;
    left: 100px;
    transition-timing-function:ease ;
    transition-duration: 2s;
    transition-delay: 1s;

}

.sticky{
    height: 50px;
    width: 100px;
    top: 10px;
    background-color: #881;
    position: sticky;

}